---
import Layout from "../layouts/Layout.astro";
import Cow from "../images/cow.png";
import { getPicture } from "@astrojs/image";

const picture = await getPicture({
  src: Cow,
  widths: [300, 600],
  fit: "contain",
  background: "#00000000",
  formats: ["webp", "avif", "png"],
  position: "center",
  alt: "kuh",
});
---

<Layout title="kuh macht muh">
  <main
    class="flex items-center justify-center w-screen min-h-screen p-4 text-gray-50"
  >
    <div
      class="flex flex-col items-center w-full max-w-lg text-center h-4/5 md:h-4/5"
    >
      <div class="text-3xl drop-shadow-xs">kuh macht muh</div>
      <div class="grow flex flex-col">
        <div
          class="p-4 mt-auto text-gray-800 opacity-0 transition-opacity duration-200 bg-gray-300 border-2 relative border-gray-800 rounded-3xl"
        >
          <div id="answer"></div>
          <div
            class="absolute left-1/4 -translate-x-1/2 bottom-[-12px] border-solid border-t-gray-800 border-t-[12px] border-x-transparent border-x-[12px] border-b-0"
          >
            <div
              class="border-solid border-t-[9px] top-[-12px] absolute border-t-gray-300 border-x-transparent border-x-[9px] border-b-0 left-[-9px]"
            >
            </div>
          </div>
        </div>
        <div class="p-4"></div>
      </div>
      <div class="relative w-1/2 shrink">
        <picture class="block w-full">
          <source
            srcset={picture?.sources?.[0]?.srcset}
            type={picture?.sources?.[0]?.type}
            sizes={"(max-width: 600px) 300px, 100vw"}
          />
          <img {...picture.image} alt={"kuh"} class="w-full" />
        </picture>
      </div>
      <div class="p-4"></div>
      <div>
        <div class="text-xl">stell der kuh eine frage:</div>
        <div class="p-2"></div>
        <form id="form" class="flex flex-col">
          <input
            type="text"
            name="q"
            maxlength="100"
            class="h-10 p-2 text-gray-800 border-2 border-gray-800 rounded-md"
          />
          <div class="p-2"></div>
          <button
            class="box-border h-10 bg-green-900 border-gray-800 rounded-md hover:border-2"
            id="submit-button"
            type="submit">fragen</button
          >
        </form>
      </div>
    </div>
  </main>

  <script>
    import { searchStore } from "../components/Backdrop";
    console.log(searchStore);
    // searchStore.set({ isSearching: true });
    const form = document.getElementById("form");
    const button = document.getElementById("submit-button");
    let timeout: number | undefined;

    const getAnswer = async (q: string) => {
      const url = new URL("/openai.json", window.location.href);
      const data = new URLSearchParams();
      data.append("q", q);
      const res = (await fetch(url, {
        method: "POST",
        body: data,
      }).then((res) => res.json())) as { message: { content: string } };

      return res.message.content.replace("\n", "").trim();
    };

    if (form) {
      form.onsubmit = async (e) => {
        e.preventDefault();
        loading(true);
        const question = new FormData(e.target as HTMLFormElement).get("q");
        const answer = await getAnswer(question as string);
        loading(false);
        const answerEl = document.getElementById("answer");
        if (answerEl) {
          answerEl.innerText = answer;
          answerEl.parentElement?.classList.remove("opacity-0");
          if (timeout) clearTimeout(timeout);
          timeout = setTimeout(() => {
            answerEl.parentElement?.classList.add("opacity-0");
          }, 30000);
        }
      };
    }

    // loading function to change the button text
    // with dot animation
    const loading = (loading: boolean) => {
      searchStore.set({ isSearching: loading });
      if (!button) return undefined;
      if (loading) {
        button.innerText = "fragen";
        const dots = document.createElement("span");
        dots.innerText = ".";
        button.appendChild(dots);
        const interval = setInterval(() => {
          if (dots.innerText.length < 3) {
            dots.innerText += ".";
          } else {
            dots.innerText = ".";
          }
        }, 400);
        return interval;
      } else {
        button.innerText = "fragen";
        return undefined;
      }
    };
  </script>
</Layout>
