---
import Layout from "../layouts/Layout.astro";
---

<Layout title="kuh macht muh">
  <main class="flex w-screen h-screen justify-center items-center">
    <div class="text-3xl">kuh macht muh</div>
  </main>
</Layout>
